<div class= "flex-container" >
      <h1>Confirmation</h1>
      <h2>Thanks for your booking!</h2>
      <h2>See you at {{preftime}}</h2>
          <h3>cut: {{cut}}</h3>
          <h3>cost: {{cost}}</h3>
          <img class="img" src={{image}} alt={{name}}>      
          <button class = "button"><a href="/">Home</a></button>
</div>


